*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.btn{
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    cursor: pointer;
}

.logo-span{
      background: linear-gradient(to top, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)); 
     background-clip: text;
     color: transparent;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@import "tailwindcss"

